# Data Preprocessing

### Why preprocessing?

Real world data are generally
- Incomplete: lacking attribute values, lacking certain attributes of interest, or containing only aggregate data
- Noisy: containing errors or outliers
- Inconsistent: containing discrepancies in codes or names

Tasks in data preprocessing
- Data cleaning: fill in missing values, smooth noisy data, identify or remove outliers, and resolve inconsistencies.
- Data integration: using multiple databases, data cubes, or files.
- Data transformation: normalization, standaradization and aggregation.
- Data reduction: reducing the volume but producing the same or similar analytical results.
- Data discretization: part of data reduction, replacing numerical attributes with nominal ones.

The preprocessing techniques such as normalization, standardization, data rescaling and feature sacaling methods will be discussed in the forth coming chapters. As of now we will know more about imputing missing values.

By “missing” we simply mean null or “not present for whatever reason”. Many data sets simply arrive with missing data, either because it exists and was not collected or it never existed.

We will start by making a dataframe containing missing values.

In [3]:
import pandas as pd
import numpy as np

In [31]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

Checking whether a given dataset consists of any missing values can be done by using isnull() and notnull() commands from pandas.

In [19]:
df2.isnull()

     one    two  three   four   five
a  False  False  False  False  False
b   True   True   True   True   True
c  False  False  False  False  False
d   True   True   True   True   True
e  False  False  False  False  False
f  False  False  False  False  False
g   True   True   True   True   True
h  False  False  False  False  False

In [20]:
df2['one'].notnull()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

Once we get an idea of distribution of missing values we can proceed to impute missing values from the data.

### Cleaning and filling missing data

Missing data values may be cherry picked and indexed at the desired location but the process turns out to be a bit laborious. So we use some more broad methods such as fillna and interpolate. Fillna command fills all the missing values with the values in the preceeding column.

Assingning a single numerical value for all the missing values in the data.

In [50]:
df2.fillna(0)

        one       two     three four   five
a  0.644895  0.649633 -0.955112  bar   True
b  0.000000  0.000000  0.000000    0      0
c -0.361646  0.546111 -0.078076  bar  False
d  0.000000  0.000000  0.000000    0      0
e  1.489754 -0.417863  0.940490  bar   True
f  0.440701  0.969741 -0.187463  bar   True
g  0.000000  0.000000  0.000000    0      0
h  1.620408  0.373489 -1.435217  bar   True

ffill/pad method is used to fill the missing value with the last known value.

bfill method is used to fill the missing value with the next value in the column.

In [34]:
df2.fillna( method = 'bfill')

        one       two     three four   five
a  0.644895  0.649633 -0.955112  bar   True
b -0.361646  0.546111 -0.078076  bar  False
c -0.361646  0.546111 -0.078076  bar  False
d  1.489754 -0.417863  0.940490  bar   True
e  1.489754 -0.417863  0.940490  bar   True
f  0.440701  0.969741 -0.187463  bar   True
g  1.620408  0.373489 -1.435217  bar   True
h  1.620408  0.373489 -1.435217  bar   True

Dropping columns is done using dropna command.

In [41]:
df2.dropna(axis = 0)

        one       two     three four   five
a  0.644895  0.649633 -0.955112  bar   True
c -0.361646  0.546111 -0.078076  bar  False
e  1.489754 -0.417863  0.940490  bar   True
f  0.440701  0.969741 -0.187463  bar   True
h  1.620408  0.373489 -1.435217  bar   True

dropna command makes the rows or columns containing all the missing values drop.

axis = 0 specifies values are dropped along the rows

axis = 1 specifies values are dropped along the columns.

Interpolate is another method that is used to fill the missing values. Both Series and Dataframe objects have an interpolate method that, by default, performs linear interpolation at missing datapoints.

In [44]:
df2.interpolate()

        one       two     three four   five
a  0.644895  0.649633 -0.955112  bar   True
b  0.141624  0.597872 -0.516594  NaN    NaN
c -0.361646  0.546111 -0.078076  bar  False
d  0.564054  0.064124  0.431207  NaN    NaN
e  1.489754 -0.417863  0.940490  bar   True
f  0.440701  0.969741 -0.187463  bar   True
g  1.030554  0.671615 -0.811340  NaN    NaN
h  1.620408  0.373489 -1.435217  bar   True

There are methods in the interpolate we can specify whichever distribution we want to get.
- If you are dealing with a time series that is growing at an increasing rate, method='quadratic' may be appropriate.
- If you have values approximating a cumulative distribution function, then method='pchip' should work well.
- To fill missing values with goal of smooth plotting, use method='akima'.

Replace function is used to replace a particular object or an integer value directly.

In [46]:
df2.replace('bar','foo')

        one       two     three four   five
a  0.644895  0.649633 -0.955112  foo   True
b       NaN       NaN       NaN  NaN    NaN
c -0.361646  0.546111 -0.078076  foo  False
d       NaN       NaN       NaN  NaN    NaN
e  1.489754 -0.417863  0.940490  foo   True
f  0.440701  0.969741 -0.187463  foo   True
g       NaN       NaN       NaN  NaN    NaN
h  1.620408  0.373489 -1.435217  foo   True